
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  text-align: center;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card-content {
  padding: 8px;
}

.star {
  color: #d3d3d3;
  font-size: 16px;
}

.star.filled {
  color: #ffd700;
}

.add-to-cart-button {
  background-color: #1E1E1E;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #1E1E1E;
}
